body {
  background-color: #232343;
}

.portfolio {
  margin: 0;
}

#top {
  height: 100vh;
  margin-top: -3.5rem;
}

@media (max-width: 992px) {
  #top {
    height: 40vh;
  }
}

.company {
  /* width: 16rem; */
  transition: background-image 1s;
  /* margin: 1rem; */
}

.company:hover {
  color: white;
  background-image: linear-gradient(to bottom, #3A015C, #2E86AB);
}

/* Different colours for companies: */

.red-grad:hover {
  background-image: linear-gradient(to bottom, #6E0C1D, #B81430);
}

.blue-grad:hover {
  background-image: linear-gradient(to bottom, #3A015C, #2E86AB);
}

.green-grad:hover {
  background-image: linear-gradient(to bottom, #004F2D, #00B868);
}


.company a {
  color: black;
}

.company:hover a{
  color: white;
  text-decoration: underline;
}

.bg-img-world {
  background-image: url("Pictures/world-muted.jpg");
}

#heading {
  color: white;
  /* background-color: black; */
}

.accent-color {
  color: white;
  background-color: #232343;
}

.btn.accent-color:hover {
  color: white;
}

.left-align {
  display: flex;
  justify-content: flex-end;
}

#tabs .dropdown-item:hover, #tabs .dropdown-item:active {
  background-color: white;
  color: black;
}
