body {
  background-color: #232343;
}

.portfolio {
  margin: 0;
}

#top {
  height: 100vh;
  margin-top: -3.5rem;
}

@media (max-width: 992px) {
  #top {
    height: 100vh;
  }
}

.company {
  /* width: 16rem; */
  transition: background-image 1s;
  /* margin: 1rem; */
  color: white;
}

.company:hover {
  color: black;
  background-color: white;
  background-image: none !important;
}

/* Different colours for companies: */

.red-grad {
  background-image: linear-gradient(to bottom, #6e0c1d, #b81430);
}

.blue-grad {
  background-image: linear-gradient(to bottom, #2e86ab, #3a015c);
}

.green-grad {
  background-image: linear-gradient(to bottom, #004f2d, #00b868);
}

.company a {
  color: white;
}

.company:hover a {
  color: black;
  text-decoration: underline;
}

#heading {
  color: white;
  /* background-color: black; */
}

.accent-color {
  color: white;
  background-color: #232343;
}

.btn.accent-color:hover {
  color: white;
}

.left-align {
  display: flex;
  justify-content: flex-end;
}

#tabs .dropdown-item:hover,
#tabs .dropdown-item:active {
  background-color: white;
  color: black;
}
