/* TODO: Add smooth scrolling when jumping. */

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.wrap {
  flex-wrap: wrap;
  flex-direction: column;
}

.flex {
  display: flex;
}

.center-item {
  display: inline-block;
  text-align: left;
}

.full {
  width: 100%;
}

.head {
  font-size: 2rem;
  padding: 1rem;
}

.sub-head {
  font-size: 1.75rem;
  padding: 1rem;
}

.heading {
  color: white;
  display: block;
}

.scroll-indicator {
  position: absolute;
  margin-top: 30rem;
  color: white;
}


#top-carousel {
  margin-top: -3.5rem;
}

.top-margin {
  margin-top: 7rem;
}

.top-carousel-item {
  height: 100vh;
  flex-direction: column;
}

.carousel-img {
  width: 100%;
}

/* smaller that large devices: */
@media (max-width: 992px) {
  .top-carousel-item {
    height: 60vh;
  }

}

.fill-height {
  height: 100vh;
}


#navbarNav {
  flex-grow: 0!important;
}

.gen {
  background-color: none;
  color: white;
  padding: 2rem;
}

.navbar-tab {
  padding: 0 0.5rem;
  display: block;
}

.navbar-font-size {
  font-size: 1.5rem;
}

.inherit-bg {
  background: inherit;
  /*transition: background-color 0.25s;*/
}

.navbar-dark .nav .active>.nav-link {
  color: #fff;
}

.btn-nav {
  background: inherit;
  color: white;
}

.btn-nav:hover {
  background: inherit;
  color: white;
}

.dropdown-item {
  color: inherit;
  font-size: 1.5rem;
}

hr.nav-link {
  border-top: 1px solid white;
  width: 100px;
}

#dropdownMenuButton::after {
  content: none;
}

.fix-height {
  height: 3.5rem;
}

.fix-width {
  width: 4rem;
}

.left-border {
  border-left: white solid 1.5px;
}

.zero-vertical-pad {
  padding: 0 1rem;
}

.main-color {
  background-color: white;
}

.minimalist {
  background-color: white;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-img-circuit-green {
  background-image: url("Pictures/circuit-green-muted.jpg");
}

.bg-img-highway {
  background-image: url("Pictures/highway-muted.jpg");
}

.bg-img-nodes {
  background-image: url("Pictures/nodes.jpg");
}

.bg-img-network {
  background-image: url("Pictures/network-circle-brown.jpg");
}

.bg-img-ai {
  background-image: url("Pictures/ai.jpg");
}

.bg-img-optical-fiber {
  background-image: url("Pictures/optical-fiber-muted.jpg");
}

.bg-img-tech {
  background-image: url("Pictures/technology.jpg");
}

.solid-bg {
  background-color: #6B3857;
  color: white;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.gradient {
  /* (grad1, grad2, main)
     (#3A015C, #2E86AB, lavender)
     (#99130A, #2E86AB, #D5D2DB)
     (#F02719, #F1F514, #F9FB9D)*/
  background-image: linear-gradient(to bottom right, #F02719, #F1F514);
}

/* a:hover {
  color: yellow;
  text-decoration: none;
} */

.pad {
  padding: 1rem;
}

.tab a {
  color: black;
  background-color: white;
  display: flex;
  transition: transform 1s, color 0.5s, background-color 0.5s;
}

.tab:hover {
  color: white;
  background-color: #6B3857;
  box-shadow: 0 4px 8px 0 purple;
}

#portfolio:hover a {
  color: white;
  background-color: #19849F;
  box-shadow: 0 4px 8px 0 #83D7EC;
}

#updates:hover a {
  color: white;
  background-color: #E9610C;
  box-shadow: 0 4px 8px 0 #FAC19E;
}

#resolutions:hover a {
  color: white;
  background-color: #A61C3C;
  box-shadow: 0 4px 8px 0 #ED96AB;
}

#pipeline:hover a {
  color: white;
  background-color: #CC285A;
  box-shadow: 0 4px 8px 0 #C56DB0;
}

#info:hover a {
  color: white;
  background-color: #2F8C2C;
  box-shadow: 0 4px 8px 0 #86D883;
}

#committee:hover a {
  color: white;
  background-color: #003249;
  box-shadow: 0 4px 8px 0 #85E0FF;
}

.about {
  min-height: 16rem;
  transition: width 2s;
}

.display-none {
  display: none!important;
}

.about {
   color: white;
   background-color: orange;
}

/* only changing the font size of about cards. */
#about > .container-fluid > .row > .card > .card-body > .card-title {
  font-size: 2rem;
}

.about-list {
  color: inherit;
  font-size: 1rem;
}

.about-list>li {
  list-style-type: initial;
  display: list-item;
}

.align-bottom-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.align-bottom-left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.align-top-left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.carousel-button {
  color: #19849F;
}

.accent-color {
  background-color: #0B3B47;
  color: white;
}

#intent {
  color: white;
  background-color: #19849F;
}

#partners {
  color: white;
  background-color: #E9610C;
}

#focus {
  color: white;
  background-color: #A61C3C;
}

#recent-updates {
  color: white;
  background-color: #2F8C2C;
}

/* centering text within a list item. */
ul {
  padding:0;
  margin:0;
}

/* making bullets appear */
li {
  list-style-type:none;
  display:inline-block;
  }


footer {
  margin-top: 3.5rem;
}
