html {
  scroll-behavior: smooth;
}

.white {
  color: white;
}

#top {
  padding-top: 5rem;
}

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.left-align {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.wrap {
  flex-wrap: wrap;
  flex-direction: column;
}

.flex {
  display: flex;
}

.center-item {
  display: inline-block;
  text-align: left;
}

.full {
  width: 100%;
}

.head {
  font-size: 2rem;
  padding: 1rem;
}

.sub-head {
  font-weight: bold;
  font-size: 3rem;
  padding: 1rem;
}

.mini-head {
  font-size: 1.5rem;
}

table {
  font-size: 2rem;
}

.heading {
  color: white;
  display: block;
}

.scroll-indicator {
  position: absolute;
  margin-top: 30rem;
  color: white;
}

.logo {
  height: 5%;
}

.icon {
  font-size: 2rem;
}

.brand {
  font-size: 2rem;
}

#top-carousel {
  margin-top: -3.5rem;
}

.top-margin {
  margin-top: 7rem;
}

.top-carousel-item {
  height: 100vh;
  flex-direction: column;
}

.top-text {
  padding: 0 5rem;
  flex-direction: column;
  text-align: left;
}

.top-text > p {
  font-size: 1.2rem;
  color: #fffff8;
}

.carousel-img {
  width: 100%;
}

/* smaller that large devices: */
@media (max-width: 992px) {
  .top-carousel-item {
    height: 60vh;
  }
}

.fill-height {
  height: 100vh;
}

#navbarNav {
  flex-grow: 0 !important;
}

.gen {
  background-color: none;
  color: white;
  padding: 2rem;
}

.navbar-tab {
  padding: 0 0.5rem;
  display: block;
}

.navbar-font {
  font-size: 1.3rem;
}

.inherit-bg {
  background: inherit;
  /*transition: background-color 0.25s;*/
}

.navbar-dark .nav .active > .nav-link {
  color: #fff;
}

.btn-nav {
  background: inherit;
  color: white;
}

.btn-nav:hover {
  background: inherit;
  color: white;
}

.dropdown-item {
  color: inherit;
  font-size: 1.5rem;
}

hr.nav-link {
  border-top: 1px solid white;
  width: 100px;
}

#dropdownMenuButton::after {
  content: none;
}

.fix-height {
  height: 3.5rem;
}

.fix-width {
  width: 4rem;
}

.left-border {
  border-left: white solid 1.5px;
}

.zero-vertical-pad {
  padding: 0 1rem;
}

.main-color {
  background-color: white;
}

.minimalist {
  background-color: white;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-img-circuit-green {
  background-image: url("Pictures/circuit-green-muted.jpg");
}

.bg-img-highway {
  background-image: url("Pictures/highway-muted.jpg");
}

.bg-img-nodes {
  background-image: url("Pictures/nodes.jpg");
}

.bg-img-network {
  background-image: url("Pictures/network-circle-brown.jpg");
}

.bg-img-ai {
  background-image: url("Pictures/ai.jpg");
}

.bg-img-optical-fiber {
  background-image: url("Pictures/optical-fiber-muted.jpg");
}

.bg-img-tech {
  background-image: url("Pictures/technology.jpg");
}

.bg-img-traffic {
  background-image: url("Pictures/traffic.jpg");
}

.solid-bg {
  background-color: #6b3857;
  color: white;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.gradient {
  /* (grad1, grad2, main)
     (#3A015C, #2E86AB, lavender)
     (#99130A, #2E86AB, #D5D2DB)
     (#F02719, #F1F514, #F9FB9D)*/
  background-image: linear-gradient(to bottom right, #f02719, #f1f514);
}

/* a:hover {
  color: yellow;
  text-decoration: none;
} */

.pad {
  padding: 1rem;
}

.tab a {
  color: black;
  background-color: white;
  display: flex;
  transition: transform 1s, color 0.5s, background-color 0.5s;
}

.tab:hover {
  color: white;
  background-color: #6b3857;
  box-shadow: 0 4px 8px 0 purple;
}

#portfolio:hover a {
  color: white;
  background-color: #19849f;
  box-shadow: 0 4px 8px 0 #83d7ec;
}

#updates:hover a {
  color: white;
  background-color: #e9610c;
  box-shadow: 0 4px 8px 0 #fac19e;
}

#resolutions:hover a {
  color: white;
  background-color: #a61c3c;
  box-shadow: 0 4px 8px 0 #ed96ab;
}

#pipeline:hover a {
  color: white;
  background-color: #cc285a;
  box-shadow: 0 4px 8px 0 #c56db0;
}

#info:hover a {
  color: white;
  background-color: #2f8c2c;
  box-shadow: 0 4px 8px 0 #86d883;
}

#committee:hover a {
  color: white;
  background-color: #003249;
  box-shadow: 0 4px 8px 0 #85e0ff;
}

.about {
  min-height: 16rem;
  transition: width 2s;
}

.display-none {
  display: none !important;
}

.about {
  color: white;
  background-color: orange;
}

/* only changing the font size of about cards. */
#about > .container-fluid > .row > .card > .card-body > .card-title {
  font-size: 2rem;
}

.about-list {
  color: inherit;
  font-size: 1rem;
}

.about-list > li {
  list-style-type: initial;
  display: list-item;
}

.align-bottom-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.align-bottom-left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.align-top-left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.carousel-button {
  color: #19849f;
}

.accent-color {
  background-color: #0b3b47;
  color: white;
}

#intent {
  color: white;
  background-color: #19849f;
}

#partners {
  color: white;
  background-color: #e9610c;
}

#focus {
  color: white;
  background-color: #a61c3c;
}

#recent-updates {
  color: white;
  background-color: #2f8c2c;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.25;
  }
}

.blink {
  animation-name: blink;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.overlap {
  margin-top: -80vh;
}

.stay-bottom {
  /* position: relative; */
}

.white-border {
  border: white solid 1px;
}

.no-content {
  color: white !important;
}

/* centering text within a list item. */
ul {
  padding: 0;
  margin: 0;
}

/* making bullets appear */
li {
  list-style-type: none;
  display: inline-block;
}

footer {
  margin-top: 3.5rem;
}

body {
  position: relative;
  min-height: 100vh;
}

/* mobile view */

.mobile .brand,
.mobile .scroll-indicator {
  font-size: 3rem;
}

.mobile .mini-head {
  font-size: 2.5rem;
}

.mobile table {
  font-size: 2rem;
}

.mobile .desktop-options,
.mobile-options {
  display: none;
}

.mobile .mobile-options,
.desktop-options {
  display: block;
}

.mobile .navbar-font,
.mobile #navButton {
  font-size: 2.5rem;
}

.mobile .nav .nav-link {
  padding: 0 2rem;
}

.mobile .nav-align {
  margin-top: 0.9rem;
}

.mobile .heading {
  font-size: 5rem;
}

.mobile .sub-head {
  font-size: 4rem;
}

.mobile .mini-head {
  font-size: 2.5rem;
}

.mobile .card-title {
  font-size: 3rem !important;
}

.mobile .card-subtitle {
  font-size: 2rem !important;
}

.mobile #top {
  padding-top: 20rem;
  margin-top: -10rem;
}

.mobile #what-we-do .card-title {
  font-size: 2.5rem !important;
}

.mobile p {
  font-size: 2.5rem !important;
}

.mobile .fill-height {
  min-height: 50vh;
}

.mobile .fix-height {
  height: 10rem;
}

.mobile .accent-tab {
  height: 6rem;
}

.mobile .back-to-top {
  font-size: 5rem;
  width: 8rem;
}

.mobile .material {
  width: 100%;
}

.mobile footer .container-fluid.accent-color {
  background-color: inherit;
}
