html {
  scroll-behavior: smooth;
}

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.left-align {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.right-align {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.right-push {
  margin-left: 50%;
  padding: 1rem 5rem 1rem 1rem!important;
}

.left-push {
  margin-right: 50%;
}

.right-align-self {
  align-self: flex-end;
}

.wrap {
  flex-wrap: wrap;
  flex-direction: column;
}

.flex {
  display: flex;
}

.even-spaced {
  justify-content: space-evenly;
  align-content: space-between;
}

.center-item {
  display: inline-block;
  text-align: left;
}

.full {
  width: 100%;
}

.brand {
  font-size: 2rem;
}

.head {
  font-size: 2.25rem;
  padding: 1rem;
}

.sub-head {
  font-weight: bold;
  font-size: 3rem;
  padding: 1rem;
}

.mini-head {
  font-size: 1.5rem;
  padding: 1rem;
}

.heading {
  font-size: 3.5rem;
  color: white;
  display: block;
}

.material {
  width: 75%;
  /* background-color: black; */
  position: relative;
}

.translucent-bg {
  position: absolute;
  background-color: black;
  border-radius: 0.5rem;
  content: "";
  opacity: 0.6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.material p {
  margin: 0;
  z-index: 1;
  position: relative;
}

.scroll-indicator {
  color: white;
  font-size: 3rem;
  margin-top: 3rem;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0.25;
  }
}

.blink {
  animation-name: blink;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.back-to-top {
  background-color: #05616F;
  border: 1px solid white;
  color: white;
  font-size: 2.5rem;
  position: fixed;
  bottom: 1rem;
  z-index: 99;
  right: 1rem;
  width: 3rem;
}

a.back-to-top:hover {
  color: white;
  text-decoration: none;
}

.logo {
  max-height: 25vh;
}

.top-margin {
  margin-top: 7rem;
}

.top-pad {
  padding-top: 4rem;
}

.top-item {
  height: 100vh;
  flex-direction: column;
}

.fill-height {
  min-height: 100vh;
}

.section {
  padding-top: 4rem;
  padding-bottom: 2rem;
  border-bottom: #05616F solid 0.5rem;
  /* #1B0F57 */
}

.bottom-border {
  border-bottom: #05616F solid 0.5rem;
  /* #1B0F57 */
}

.div-text {
  padding: 0 5rem;
  flex-direction: column;
  text-align: left;
  color: white;
}

.div-text > p {
  font-size: 1.2rem;
  color: #FFFFF8
}

.desc-text {
  padding: 1rem 15rem;
  flex-direction: column;
  text-align: center;
  color: black;
}

.carousel-img {
  width: 100%;
}

/* smaller that large devices: */
@media (max-width: 992px) {
  .top-item {
    height: 60vh;
  }

  .right-push {
    margin-left: 0;
  }

  .left-push {
    margin-right: 0;
  }

  .head {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .sub-head {
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
  }

  .div-text > p {
    font-size: 1rem;
    color: white;
  }

  .desc-text {
    padding: 1rem 5rem;
    flex-direction: column;
    text-align: center;
    color: black;
  }

}

#team p {
  font-size: 1.1rem;
}

#navbarNav {
  flex-grow: 0!important;
}

#navButton {
  margin-top: -1rem;
  color: black;
  background-color: inherit;
}

.nav-correction {
  margin-top: -0.9rem;
}

@media (max-width: 992px) {
  ul.navbar-nav > li {
    width: 100%;
  }
}

.gen {
  background-color: none;
  color: white;
  padding: 2rem;
}

.navbar-tab {
  padding: 0 0.5rem;
  /* display: block; */
}

.navbar-font {
  font-size: 1.25rem;
  font-weight: bold;
}

.inherit-bg {
  background: inherit;
  /*transition: background-color 0.25s;*/
}

.accent-tab-blue {
  color: white;
  background-color: #07B5D4;
  /* #5438DC; */
  height: 4rem;
}

.accent-tab-black {
  color: white;
  background-color: #020E29;
  /* #5438DC; */
  height: 4rem;
}

.accent-tab-purple {
  color: white;
  background-color: #5438DC;
  height: 4rem;
}

.accent-tab a {
  color: white!important;
}


.nav a {
  color: black;
}

.navbar-dark .nav .active>.nav-link {
  color: #fff;
}

.btn-nav {
  background: inherit;
  color: black;
}

.btn-nav:hover {
  background: inherit;
  color: black;
}


.dropdown-item {
  color: inherit;
  font-size: 1.5rem;
}

hr.nav-link {
  border-top: 1px solid white;
  width: 100px;
}

#dropdownMenuButton::after {
  content: none;
}

.fix-height {
  height: 4rem;
}

.fix-width {
  width: 4rem;
}

.left-border {
  border-left: white solid 1.5px;
}

.zero-vertical-pad {
  padding: 0 1rem;
}

.main-color {
  background-color: white;
}

.minimalist {
  background-color: white;
}

.bg-light-blue {
  background-color: #CAEEF7;
}

.bg-light-violet {
  background-color: #B4A8F0;
}

.light-bg {
  background-color: #f8f9fa!important;
}

.dark-bg {
  background-color: #05616F;
  /* #1B0F57; */
}

.dark-bg a, .dark-bg p, .dark-bg .sub-head {
  color: white;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-img-traffic {
  background-image: url("../Pictures/traffic.jpg");
}

.bg-img-tunnel {
  background-image: url("../Pictures/tunnel-sat.jpg");
}

.bg-img-system {
  background-image: url("../Pictures/system-muted.jpg");
}

.bg-img-circuit-green {
  background-image: url("../Pictures/circuit-green-muted.jpg");
}

.bg-img-highway {
  background-image: url("../Pictures/highway-muted.jpg");
}

.bg-img-nodes {
  background-image: url("../Pictures/nodes.jpg");
}

.bg-img-network {
  background-image: url("../Pictures/network-circle-brown.jpg");
}

.bg-img-ai {
  background-image: url("../Pictures/ai-muted.jpg");
}

.bg-img-optical-fiber {
  background-image: url("../Pictures/optical-fiber-muted.jpg");
}

.bg-img-tech {
  background-image: url("../Pictures/technology.jpg");
}

.bg-img-world {
  background-image: url("../Pictures/world.jpg");
}

.bg-img-car {
  background-image: url("../Pictures/car-muted-accent.jpg");
}

.solid-bg {
  background-color: #6B3857;
  color: white;
}

.gradient {
  /* (grad1, grad2, main)
     (#3A015C, #2E86AB, lavender)
     (#99130A, #2E86AB, #D5D2DB)
     (#F02719, #F1F514, #F9FB9D)*/
  background-image: linear-gradient(to bottom right, #F02719, #F1F514);
}

/* a:hover {
  color: yellow;
  text-decoration: none;
} */

.pad {
  padding: 1rem;
}

.no-pad {
  padding: 0;
}

.margin {
  margin: 1rem 0;
}

.tab a {
  color: black;
  background-color: white;
  display: flex;
  /* transition: transform 1s, color 0.5s, background-color 0.5s; */
}

.circle {
  border-radius: 100%;
}

img.member {
  width: 100%;
  max-width: 20vw;
  height: auto;
}

#team-carousel .carousel-control-next,
#team-carousel .carousel-control-prev {
  background-color: inherit;
  color: white;
  font-size: 3rem;
}

#team-carousel .carousel-control-next-icon,
#team-carousel .carousel-control-prev-icon {
  background-image: none;
}


.tab {
  width: 16vw;
  transition: transform 0.2s;
}

@media (max-width: 992px) {
  .tab {
    width: 50vw;
  }

}

.tab .card-block:hover {
  background-color: white!important;
  /* box-shadow: 0 0 1rem #1B0F57!important; */
}

.tab:hover {
  transform: translateY(-0.5rem);
}

#portfolio a:hover {
  color: #4527D9!important;
  font-weight: bolder;
}

#updates a:hover {
  color: #07B5D4!important;
  /* 07B5D4 */
  font-weight: bolder;
}

#pipeline a:hover {
  color: #020E29!important;
  /* 020E29 */
  font-weight: bolder;
}

#committee a:hover {
  color: #D84668!important;
  /* 4527D9 */
  font-weight: bolder;
}

#info a:hover {
  color: #0DBF9B!important;
  font-weight: bolder;
}

#resolutions a:hover {
  color: #EE6C4D!important;
  font-weight: bolder;
}

#portfolio .card-block {
  color: white;
  background-color: #4527D9;
   /* #1F1264; */
  /* box-shadow: 0 4px 8px 0 #5438DC; */
}

#updates .card-block {
  color: white;
  background-color: #07B5D4;
   /* #2F1B96; */
  /* box-shadow: 0 4px 8px 0 #05616F; */
}

#pipeline .card-block {
  color: white;
  background-color: #020E29;
  /* box-shadow: 0 4px 8px 0 #000000; */
}

#committee .card-block {
  color: white;
  background-color: #D84668;
   /* #4527D9; */
  /* box-shadow: 0 4px 8px 0 #5438DC; */
}

#info .card-block {
  color: white;
  background-color: #0DBF9B;
   /* #6C54E1; #07B5D4*/
  /* box-shadow: 0 4px 8px 0 #05616F; */
}

#resolutions .card-block {
  color: white;
  background-color: #EE6C4D ;
  /* #9D8DEB; 020E29*/
  /* box-shadow: 0 4px 8px 0 #000000; */
}

.about {
  min-height: 16rem;
  transition: width 2s;
}

.display-none {
  display: none!important;
}

.about {
   color: white;
   background-color: orange;
}

/* only changing the font size of about and what we do cards. */
#what-we-do .card-title, #about .card-title {
  font-size: 2rem;
}

#team .card-title {
  font-weight: bold;
  font-size: 1.75rem;
}

@media (max-width: 992px) {

    #what-we-do .card-title, #about .card-title {
      font-size: 1.5rem;
    }
}

.about-list {
  color: inherit;
  font-size: 1rem;
}

.about-list > li {
  list-style-type: initial;
  display: list-item;
}

.list > li {
  list-style-type: initial;
  display: list-item;
  /* to offset bullets correctly */
  margin: 0 0 0 1rem;
}

.align-bottom-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.align-bottom-left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.align-top-left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.carousel-button {
  color: #19849F;
}

/* .accent-color {
  background-color: #0B3B47;
  color: white;
} */

.accent-colour,
.accent-colour a,
.accent-colour a:hover {
  color: #05616F;
}

.white-bg {
  background-color: white;
}

/* #about .card {
  color: white;
  background-color: #1B0F57!important;
} */

#intent {
  color: white;
  background-color: #4527D9;
   /* #1B0F57; */
}

#partners {
  color: white;
  background-color: #07B5D4;
  /* #2F1B96; */
}

#focus {
  color: white;
  background-color: #020E29;
  /* #4527D9; */
}

#recent-updates {
  /* color: white; */
  /* background-color: #2F8C2C; */
}


#recent-updates .card-text {
  font-size: 1.1rem;
}

#recent-updates .card-title {
  font-size: 1.2rem;
}

#recent-updates .container-fluid {
  color: white;
}

#news1 {
  background-color: #4527D9;
}

#news2 {
  background-color: #07B5D4;
}

#news3 {
  background-color: #020E29;
}

.nav-pills .nav-item {
  padding: 1rem;
}

.nav-pills .nav-link.active.card-block {
  color: white;
  background-color: white;
  border: white solid 2px;
}

.nav-pills #card-member1.nav-link+.card {
  background-color: #5438DC;
}

.nav-pills #card-member2.nav-link+.card {
  background-color: #07B5D4;
}

.nav-pills #card-member3.nav-link+.card {
  background-color: #020E29;
}

.nav-pills .nav-link+.card {
  color: white;
  background-color: white;
}

.nav-pills .nav-link+.card a {
  color: white;
  font-weight: bold;
}

#card-member1, #card-member2, #card-member3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: inherit;
}


.member .card-body {
  position: relative;
  pointer-events: none;
  z-index: 1;
}

.member .card-body a {
  pointer-events: all;
}

.white, .white a {
  color: white;
}

.social {
  color: white;
  font-weight: bold;
}

.icon {
  font-size: 3rem;
  padding: 1rem;
}

.overlap {
  margin-top: -80vh;
}

.stay-bottom {
  margin-top: 11rem;
}

.white-border {
  border: white solid 1px;
}

.no-content {
  color: white!important;
}

#contact {
  font-size: 1.2rem;
}

/* centering text within a list item. */
ul {
  padding:0;
  margin:0;
}

/* making bullets appear */
li {
  list-style-type:none;
  display:inline-block;
  }


  /* mobile view */

.mobile .brand, .mobile .scroll-indicator {
  font-size: 3rem;
}

.mobile .navbar-font, .mobile #navButton {
  font-size: 2.5rem;
}

.mobile .nav .nav-link {
  padding: 0 2rem;
}

.mobile .heading {
  font-size: 5rem;
}

.mobile .sub-head {
  font-size: 4rem;
}

.mobile .mini-head {
  font-size: 2.5rem;
}

.mobile .card-title {
  font-size: 3rem!important;
}

.mobile #what-we-do .card-title {
  font-size: 2.5rem!important;
}

.mobile p {
  font-size: 2.5rem!important;
}

.mobile .fill-height {
  min-height: 50vh;
}

.mobile .fix-height {
  height: 10rem;
}

.mobile .accent-tab {
  height: 6rem;
}

.mobile .back-to-top {
  font-size: 5rem;
  width: 8rem;
}

.mobile .material {
  width: 100%;
}
